

// Variables para facilitar el ajuste de estilos
$primary-orange: #ff9900;
$text-color: white;
$hover-color: rgba(211, 211, 211, 0.338);

// Valores para escritorio 
$icon-size-desktop: 24px;
$font-size-desktop: 15px;
$navbar-height-desktop: 40px;
$item-gap-desktop: 20px; 
$icon-text-gap: 8px; 

// Valores para móvil 
$icon-size-mobile: 20px;
$font-size-mobile: 13px;
$navbar-height-mobile: 60px;
$item-gap-mobile: 20px;



.navbar-container2 {
  width: 100%; 
  background-color: $primary-orange;
  border-radius: 0; 
  padding: 0;
  margin: 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .navbar-list2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: $navbar-height-mobile; 
    gap: $item-gap-desktop; 
    flex-wrap: wrap; 
  }
          .navbar-icon-img2 { 
    width: 30px;  
    height: 25px; 
    object-fit: contain; 
    
    
  
  }

  .navbar-item2 {
   
    text-align: center;
    flex-basis: auto;

  .navbar-link2 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    color: $text-color;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-size: $font-size-mobile; /* Tamaño de fuente para móvil */
   padding: 5px 0; 
 

    &:hover {
      color: $hover-color;
      .navbar-icon-img2 { 
        filter: opacity(0.5); 
        }
    }

    svg {
      font-size: $icon-size-mobile; 
      margin-right: 0; 
      margin-bottom: $icon-text-gap; 
      fill: currentColor;
      margin-top: 8px;
    }

    img.navbar-icon {
      width: $icon-size-mobile;
      height: $icon-size-mobile;
      margin-right: 0;
      margin-bottom: $icon-text-gap;
      object-fit: contain;
        margin-top: 8px;
    }
  }
}


  

  @media (min-width: 769px) {
    width: 240px; 
    margin: 0 auto; 
    border-radius: 25px; 

    .navbar-list2 {
      justify-content: center; 
      height: $navbar-height-desktop; 
      gap: $item-gap-desktop; 
      flex-wrap: nowrap; 
    }

    .navbar-item2 {
      flex-basis: auto; 
    }

    .navbar-link2 {
      flex-direction: row; 
      font-size: $font-size-desktop;
      padding: 2px $icon-text-gap; 

      svg {
        font-size: $icon-size-desktop; 
        margin-right: $icon-text-gap; 
        margin-bottom: 0;
      }

      img.navbar-icon {
        width: $icon-size-desktop;
        height: $icon-size-desktop;
        margin-right: $icon-text-gap;
        margin-bottom: 0;
      }
    }
  }

  // Media Query para tablets
  @media (min-width: 481px) and (max-width: 768px) {
   
    .navbar-list2 {
      justify-content: space-evenly;
    }

  }
}