/* src/components/Review/Review.scss (o src/components/ReviewForm/ReviewForm.scss) */
@use "sass:color";

$primary-blue: #004cff;
$primary-orange: #ff9900;
$text-dark: #333;
$text-light: #fff; // No se usa directamente aquí, pero es para coherencia.
$background-dark: #222; // No se usa directamente aquí, pero es para coherencia.
$card-background-light: #fefefe; // Fondo casi blanco para las tarjetas de reseñas
$border-color: #e0e0e0;
$shadow-color: rgba(0, 0, 0, 0.15);



.review-container {
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
  background-color: $card-background-light; 
  border: 1px solid $border-color;
  border-radius: 15px; 
  box-shadow: 0 4px 10px $shadow-color; 

  h2 {
    text-align: center;
    color: $primary-blue; 
    margin-bottom: 25px;
    font-size: 1.8rem;
  }

  
  .ant-form-item-label > label {
    font-weight: bold;
    color: $text-dark; 
  }

 
  .ant-input {
    border-radius: 8px; 
  }


  .ant-btn-primary {
    background-color: $primary-orange; 
    border-color: $primary-orange;
    width: 100%; 
    padding: 10px 15px;
    height: auto; 
    font-size: 1rem;
    border-radius: 20px; 
    color: $text-light; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 

  
  }
}


@media (max-width: 768px) {
  .review-container {
    padding: 15px;
    margin: 15px auto; 
    max-width: 95%; 
  }
  .ant-btn-primary {
    padding: 8px 12px; 
    font-size: 0.9rem; 
  }
}
