/* img {
  max-width: 500px;
} */

.products__container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.products__title {
  font-size: 1.8rem;
  color: var(--blanco);
}

.products-crds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 400px;
  background-color: var(--azul);
  border-radius: 25px;
  /* box-shadow: 0px 10px 12px rgba(224, 203, 14, 0.08), -4px -4px 12px rgba(0, 0, 0, 0.08); */
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.card-prod-img-cont {
  width: 100%;
  height: 75%;
  border-radius: 25px;
  margin-bottom: 12px;
  overflow: hidden;
  background-image: url('../../../assets/circle-scatter-haikei.svg');
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-patitos {
  width: 100%;
  height: auto;
}

.card-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--blanco);
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.card-des {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--blanco);
  cursor: default;
}

.card__btn--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.btn__show,
.btn__buy {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn__buy {
  background-color: var(--naranja);
  border: 3px solid var(--naranja);

  &:hover {
    background-color: var(--blanco);
    color: var(--naranja);
  }
}

.btn__show {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: var(--blanco);
  border: 3px solid var(--blanco);
  color: var(--azul);
  text-align: center;

  &:hover {
    background-color: var(--azul);
    color: var(--blanco);
  }
}

.filters-container {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.products-rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  height: 50px;
  border: #4fc3f7 solid;
  border-radius: 1rem;
  gap: 10px;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.row-prod-img-cont {
  height: 100%;
}

.row-img-patitos {
  height: 100%;
}
