$primary-orange: #ff9900; 
$patukis-text-color: #004cff; 
$patukis-shadow-color: #333333; 
$white-text-color: #FFFFFF; 

.main-footer { 
  background-color: $primary-orange; 
  color: $white-text-color; 
  padding: 15px 20px; 
  width: 100%; 
  box-sizing: border-box; 
  position: fixed; 
  bottom: 0;          
  left: 0;         
  z-index: 1000;   
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 

  .footer-content { 
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    max-width: 1200px;         
    margin: 0 auto;            
   
  }

  .footer-section { 
    display: flex;      
    align-items: center; 
    gap: 10px;         
  }

  .footer-logo { 
    width: 100px; 
    height: auto; 
    
  }
  
  
  .footer-rights { 
    font-size: 0.8rem; 
    margin: 0; 
    text-align: right; 
    color: $white-text-color; 
  }

 
  @media (max-width: 768px) {
    padding: 10px 15px; 
    
    .footer-content {
      flex-direction: column; 
      text-align: center; 
      gap: 10px; 
    }
  }
}