.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__title {
  align-self: start;
  margin-left: 45px;
  font-size: 2.5rem;
}

.register__form {
  width: 80%;
  max-width: 700px;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #4fc3f7;
  border-radius: 25px;
}

.register__input {
  display: block;
  text-align: center;
  width: 100%;
}

.register__label {
}
