.admin__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin__title {
  font-size: 1.8rem;
  color: var(--blanco);
}

.admin__subtitle {
  color: var(--blanco);
  font-size: 1.2rem;
  font-weight: 700;
}

.admin__btnNew {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--azul);

  &:hover {
    background-color: var(--blanco);
    color: var(--azul);
  }
}

.admin__table-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px 0px;
}

table {
  width: 80%;
  border-spacing: 4px;
  color: var(--blanco);
  background-color: var(--azul);
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  padding: 8px;
}

table input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  border-radius: 0px;
  background-color: #fff;
  color: var(--naranja);
  transition: border-color 0.3s ease;
  border: 1px solid var(--naranja);
  text-align: center;
}

table input:focus {
  border-color: var(--azul);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  font-family: inherit;
}

table tr {
  border-radius: 20px;
  overflow: hidden;
}

table td,
table th {
  border-bottom: 3px solid var(--naranja);
  padding: 8px;
}

.admin__btnEdit,
.admin__btndelete,
.admin__btnSave,
.admin__btnNoedit {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 900;
  border: 2px solid var(--azul);
  background-color: var(--blanco);
  color: var(--azul);
}

.admin__btnSave,
.admin__btnNoedit {
  margin-bottom: 2px;
  border: 2px solid var(--naranja);
}

.admin__btnSave:hover {
  background-color: green;
}

.admin__btnNoedit:hover {
  background-color: var(--naranja);
}

.admin__btnEdit:hover {
  background-color: var(--naranja);
  color: var(--blanco);
}

.admin__btndelete:hover {
  background-color: red;
}

.icons-column {
  border: 0px;
}

.material-symbols-outlined {
  font-size: 16px;
  color: #e3e3e3;
  cursor: pointer;
}

@media (width < 720px) {
  .admin__table-container {
    display: block;
  }
}
