.home__container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.home__header {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-flow: row wrap;
}

.home__header--videocont {
  position: relative;
  width: 380px;
  max-width: 380px;
  aspect-ratio: 1/1;
}

.home__header--video1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
