.main-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  text-align: center;
}

.img-patito-container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  max-height: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin: 10px;
}

.img-patito {
  position: relative;
  max-height: 300px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
}

.blob {
  position: absolute;
  width: 600px;
  height: 350px;
  z-index: 0;
}

.product__info--container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  color: var(--blanco);
  background-color: var(--azul);
}

.btns-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.like-button,
.buy-button {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
}

.like-button {
  padding: 8px 20px;
  background-color: var(--blanco);
  border: 3px solid var(--blanco);
  color: var(--azul);
  text-align: center;

  &:hover {
    background-color: var(--azul);
    color: var(--blanco);
  }
}

.buy-button {
  background-color: var(--naranja);
  border: 3px solid var(--naranja);

  &:hover {
    background-color: var(--blanco);
    color: var(--naranja);
  }
}

.material-symbols-outlined {
  font-size: 1.8rem;
  color: var(--azul);

  &:hover {
    color: var(--blanco);
  }
}

.show__product--name {
  margin-bottom: px;
}

.show__product--price {
  color: var(--blanco);
  margin-top: 10px;
}

.show__product--text {
  font-size: 1.1rem;
  font-weight: 600;
}
